.root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828f99: #828f99;
  --color-3d464d: #3d464d;
  --color-c3d4da: #c3d4da;
}

.green {
  color: var(--color-47ad24);
}

.red {
  color: var(--color-e52e2e);
}

.quill {
  background-color: white;
}

.form-control {
  box-shadow: none;
  border-color: var(--color-c3);
}

.title {
  font:28px;
  font-family: "Roboto" !important;
}
